@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,400;0,500;0,700;0,800;1,400&family=Oxygen:wght@400;700&display=swap");

:root {
  --primary: #e34d42;
  --secondary: #ad3a32;
  --white: #fcfcfc;
  --white-smoke: #e6e6e6;
  --darkest: #212121;

  /* Gradients */
  --gradient-primary: linear-gradient(to bottom, var(--primary), #f62e1f);
  --gradient-secondary: linear-gradient(to top, var(--secondary), null);
  --gradient-white: linear-gradient(to bottom, var(--white), #e7e7e7);
  --gradient-white-smoke: linear-gradient(to bottom, var(--white-smoke), null);
  --gradient-darkest: linear-gradient(to bottom, var(--darkest), null);

  --titles: "Exo 2", sans-serif;

  /* Fonts */
  --size-1: 2.5em;
  --size-2: 36px;
  --size-3: 2em;
  --size-4: 26px;
  --size-5: 21px;
  --size-6: 1em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Oxygen", sans-serif;
  color: var(--darkest);
}