body {
  background: var(--gradient-white); 
  overflow-x: hidden;
  background-size: cover;
  background-repeat: no-repeat;
}

#root {
  height: max-content;
  width: 100%;
  padding: 2rem 0;
  padding-inline: 2rem;
}

.container-veichle {
  margin-top: 3rem;
  gap: 8rem;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: calc(100% - 4rem);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 250ms ease;
}

.container-veichle-gallery {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: slideInRight 750ms linear;

  .gallry-veichle > img {
    margin: 0 0.5rem;
    border: 1px solid var(--darkest);
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
    cursor: pointer;
  }

  .gallry-veichle > img:hover {
    border: 1.5px solid var(--secondary);
  }
}

.container-veichle-details {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-direction: column;
  padding: 1rem 0;
  padding-inline: 2rem;
  border-radius: 1rem;
  width: 450px;
  height: 80vh;
  background: var(--white-smoke-shadow);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  animation: fadeDown 750ms ease-in-out;

  a.voltar {
    text-decoration: underline;
    font-size: 0.75em;
  }

  .conatiner-description {
    h1 {
      margin: 1rem 0;
      font-weight: 700;
      font-family: var(--titles);
      font-size: 2em;
      color: var(--primary);
      animation: fadeDown 750ms ease 150ms;
      cursor: default;
    }

    .stars {
      margin: 1rem 0;
      display: flex;
      align-items: center;
      animation: fadeDown 750ms ease 200ms;

      .fi,
      .general-stars {
        margin: 0 0.25rem;
        color: var(--primary-shadow);
        cursor: default;
      }
    }

    p.description-veichle {
      margin: 1rem 0;
      font-size: 0.75em;
      cursor: default;
      animation: fadeDown 750ms ease 250ms;
    }

    .especificacoes-veichle {
      margin: 2rem 0;
      padding: 1rem 0;
      padding-inline: 2rem;
      display: grid;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      gap: 2rem;
      place-items: center;

      .cir-1,
      .cir-2,
      .cir-3,
      .cir-4 {
        .circle {
          display: flex;
          justify-content: center;
          align-items: center;
          --size: 80px;
          width: var(--size);
          height: var(--size);
          border-radius: 100%;
          background: var(--white-shadow);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
          animation: fadeDown 750ms ease 250ms;
          cursor: default;

          p {
            font-size: 0.8em;
            font-weight: 700;
          }
        }
      }
    }

    .container-value-alugar {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 1rem;
      animation: fadeDown 750ms ease 300ms;

      h3.valor-diaria {
        font-size: 1em;
        color: var(--primary);
        transition: 250ms;
        cursor: default;
      }

      button#alugar {
        padding: 0.8rem 0;
        padding-inline: 2rem;
        border: 0;
        border-radius: 50px;
        font-weight: 700;
        font-size: 1em;
        color: var(--secondary);
        background: var(--white-shadow);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
        transition: 250ms;
        cursor: pointer;
      }

      button#alugar:hover {
        color: var(--darkest);
        background: var(--primary);
        box-shadow: 0 0 50px var(--secondary-shadow);
      }
    }
  }
}

@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 800px) {
  .container-veichle {
    flex-direction: column;
  }
}